@use '~styles/0-settings/settings.fonts' as *;

.button {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  border: 5px solid var(--color-ci);
  width: 100%;
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: $font-weight-bold;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: var(--color-ci);
  }
}