@mixin font-face($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    src: url('#{$src}.woff2') format('truetype');
    font-display: swap;
  }
}

// Arrus BLK BT // -----------------------------------------------------------------
// @include font-face(
//   $font-arrus-blk-bt,
//   '#{$path-font}arrus-blk-bt',
//   normal,
//   400
// );
